@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot');
    src: url('./font/fontello.eot#iefix') format('embedded-opentype'),
    url('./font/fontello.woff') format('woff'),
    url('./font/fontello.ttf') format('truetype'),
    url('./font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.Checkbox {
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px -10px 20px -10px;
}
