<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel® AMT Provisioning</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <a>Remote Management</a>
            </li>
            <li class="active">
                <strong>Intel&reg; Active Management Technology</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div ibox title="Overview">
              <div content-block name="001-Sample-Intel-AMT-Setup-Screen-within-the-Intel-BIOS" message="Check after finishing this section" image-link="../views/labs/remote-configamt/images/001-Sample-Intel-AMT-Setup-Screen-within-the-Intel-BIOS.jpg">
                <p>
                  A single system setup that you can perform and start to get a feel of Intel Active Management Technology (Intel AMT) functionality in just a few minutes. A second system with a network and Internet browser is needed to connect to the Intel AMT system.</p>
                </p>
                <p>
                  On motherboards that come from Intel1, Intel AMT setup is performed within the BIOS, which is accessed by pressing the <b>F2 key</b> at boot time.
                </p>
                <p>
                  For most other vendors, Intel AMT setup occurs using the Intel® Management Engine BIOS Extension (Intel MEBX) and can be accessed using <b>Ctrl-P key</b> combination at boot time.
                </p>
                <h4>Intel Motherboards</h4>
                <p>
                  Once in the BIOS setup screen, look for "Intel AMT".
                  If you have such a screen as shown in Figure 1, your system has Intel AMT,
                  and you can continue with the short setup steps below. While at the BIOS screen,
                  make sure to enable Intel AMT or Intel MEBX so that when you reboot, you can enter into the appropriate setup screens.
                  Within a few minutes you will be interacting with Intel AMT.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div ibox title="Setting Up the Intel&reg; AMT System">
                  <div content-block name="001-Sample-Intel-AMT-Setup-Screen-within-the-Intel-BIOS" message="Check after finishing this section">
                    To set up the Intel AMT System, follow these steps:
                    <ol>
                      <li>
                          Connect the Intel AMT system to a power outlet. This is necessary because some of the Intel AMT capabilities maybe disabled on battery power. Reset the system to a fresh boot.
                      </li>
                      <li>
                          At the system reboot, enter the BIOS or Intel MEBX to get into Intel AMT setup, as described in previous section.
                      </li>
                      <li>
                          You will be asked to enter the password, and forced to change it. Default factory password is "admin". Change this to a strong password such as: "intel123". Intel AMT will never be enabled unless the password is changed.
                      </li>
                      <li>
                          Select ME Configuration. Verify that the following are set correctly:
                          <ul>
                            <li>
                              ME State Control = Enabled
                            </li>
                            <li>
                              ME Features Control -> Manageability Feature Selection is set to "Intel AMT"
                            </li>
                          </ul>
                      </li>
                      <li>
                        Select ME Power Control -> ME ON in Host Sleep States, and at the menu selection, pick ON in S0, S3/AC, S4-S5/AC
                      </li>
                      <li>
                        Select AMT Configuration, and go to TCP/IP setup. Configure the static IP address as follows:
                      </br>IP Address: 192.168.__.__
                      </li>
                      <li>
                        Subnet Mask: 255.255.255.0
                      </li>
                      <li>
                        Save the configuration.
                      </li>
                    </ol>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <div ibox title="Configure a Browser to Connect">
                      <div content-block name="001-Sample-Intel-AMT-Setup-Screen-within-the-Intel-BIOS" message="Check after finishing this section">
                        <p>
                          To configure a browser to connect, follow these steps:
                        </p>
                        <ol>
                          <li>
                            Select a system that you can connect to the Intel AMT system using an Ethernet cable. Go to the network settings of this system and configure the IP address. Assign a static IP address
                          </br>IP Address: 192.168.__.__
                            </br>Subnet Mask: 255.255.255.0
                          </li>
                          <li>
                            Now, connect this system to the Intel AMT system using an Ethernet cable.
                          </li>
                          <li>
                            Open a command prompt, and try pinging the Intel AMT system.
                            </br>ping 192.168.1.20
                            </br>You should get a ping response.
                          </li>
                        </ol>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
                <div class="row">
                    <div class="col-lg-12">
                        <div ibox title="Connect and Explore">
                            <p>
                              Now you are ready to start a web browser.
                            </p>
                            <ol>
                              <li>
                                Point the web browser to the address
                              </br>http://192.168.__.__:16992
                              </li>
                            </ol>

                <div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">

                          <div class="wrapper wrapper-content animated fadeIn">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div class="ibox">
                                          <div class="ibox-title">
                                              <h5>2. When prompted for username/password, type admin for username and Intel@1234 as the password</h5>
                                              <div ibox-tools></div>
                                          </div>
                                          <div class="ibox-content">
                                              <img src="../views/labs/remote-configamt/images/002-Intel-AMT-Web-Browser-Login-Screen.jpg" alt="002-Intel-AMT-Web-Browser-Login-Screen" />
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="ibox">
                                          <div class="ibox-title">
                                              <h5>3 You are now connected</h5>
                                              <div ibox-tools></div>
                                          </div>
                                          <div class="ibox-content">
                                              <img src="../views/labs/remote-configamt/images/003-Intel-AMT-Web-Browser-Screen.jpg" alt="003-Intel-AMT-Web-Browser-Screen" />
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                    </div>

                  </div>
                  </div>
                  </div>

                </div>
