<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel&reg; Media Server Studio with FFMPEG</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                Video Performance
            </li>
            <li class="active">
                <strong>Comprehend Intel&reg; Media Server Studio with FFMPEG</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
          <div ibox title="Objectives">
              <div content-block message="Check after completing the Objectives">
                <b>Introduction</b>
                <p>Intel hardware accelerated codecs are now accessible via FFmpeg* on Linux* systems where Intel® Media Server Studio is installed. The same OS and platform requirements apply, as the new additions to FFmpeg are simple wrappers to bridge the APIs.</p>
                <b>Exploration</b>
                <p>To get started one has to follow these steps:</p>
                <ul>
                  <li>Install Intel Media Server Studio for Linux (Done)</li>
                  <li>Get the latest FFmpeg source (Done)</li>
                  <li>Configure FFmpeg (Done)</li>
                  <li>Transcode</li>
                </ul>
                <b>Observation</b>
                  <p>Observe the integration of ffmpeg with Intel® Media Server Studio</p>
                <b>Learning Outcome</b>
                <p>By the end of this module, the participant is expected to understand briefly the working of Intel&reg; Media Server Studio with FFMPEG</p>
              </div>
          </div>

      <div ibox title="Transcode">
        <div content-block message="Check mark after completing this section">
            <p>Transcode with an accelerated codec such as "-vcodec h264_qsv" on the ffmpeg command line.</p>
            <p>Performance boost increases with resolution.</p>
            <div content-block image-link="../views/labs/videoperformance-marsunderstand/images/ffmpeg-qsv.png">
              <div class="alert alert-warning">
                <p>$ffmpeg -i /home/intel/Documents/MSDK/mediasdk.mp4 -vcodec h264_qsv -init_hw_device qsv:hw test.mp4</p>
              </div>
            </div>
            </br>
            <div content-block image-link="../views/labs/videoperformance-marsunderstand/images/ffmpeg-demux.png">
            <p>Demux audio and video from an mp4 container using ffmpeg</p>
            <div class="alert alert-warning">
              <p>$ffmpeg -i test.mp4 -c:v copy -map 0:0 video.mov -c:a copy -map 0:1 audio.aac</p>
            </div>
          </div>
        </div>
    </div>
</div>
