<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Analyse face data on cloud</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <strong>Video Analytics</strong>
            </li>
            <li class="active">
                <strong>Analyse face data on cloud</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
      <div class="row">
        <div class="col-lg-12">

            <div ibox title="Objectives">
                <div content-block name="opencv_motion-objectives" message="Complete Objectives" image-link="../views/labs/analytics-analyse/images/cloudmain.png">
                    <h2 class="labHidden"></h2>
                    <h5>Lab Overview</h5>
                    <p>We have done motion and face detection in our previous modules. We have successfully counted number of faces so far.
                    </p>
                    <p>In this module we will publish this data to local cloud for analysis</p>
                    <p>We will be replacing those two TODOs with following</p>
                    <ul>
                        <li>We will import package called "requests"</li>
                        <li>We will publish the number of faces after showing the face count</li>
                        <li>Login to cloud and view charts showing the number of faces</li>
                    </ul>
              </div>
            </div>
            <div ibox title="Install requests package">

              <div content-block name="opencv_package-newfile" message="Install requests package">
                <h5>We need "requests" package for cloud communication</h5>
                  <ol>
                <li>Go to terminal</li>
                <li>$sudo apt install python-pip</li>
                <li>$pip install requests</li>
                      </ol>
</div>

            <div ibox title="Import packages">

              <div content-block name="opencv_package-newfile" message="Import packages">
                <h5>We need to import requests package</h5>
                  <ol>
                <li>replace first #TODO: Cloud integration 1</li>
                <li>Paste the following line</li>
                <li><pre><code>import requests
</code></pre></li>
                       </ol>
              </div>
                </div>

                <div ibox title="Publish number of faces to cloud">

                  <div content-block name="opencv_package-cloud" message="Publish number of faces to cloud">
                    <h5>We have counted number of faces in the sceen. We need to publish this counter values to cloud. </h5>
                    <p>Note: We are not publishing video stream or pictures of the sceen. We are only publishing the number of faces. </p>
                      <ol>
                    <li>replace second #TODO: Cloud integration 2</li>
                    <li>Note that we are sending the data to cloud when the motion stops</li>
                    <li>Paste the following line</li>
                    <li><div class="alert alert-warning">Replace device id "1234" with the device id written on your computer</div></li>
                    <li><div class="alert alert-warning">Replace &lt;cloud server url> with the cloud URL provided in the workshop</div></li>
                    <li>your cloud server URL would be <a id="href" target="_blank"></a><script>document.getElementById("href").innerHTML = window.location.hostname + ":9002";document.getElementById("href").href = "http://" + window.location.hostname + ":9002";</script></li>
                    <li><pre><code>else:
            query = 'id=1234' + '&value=' + str(facecount)
            resp = requests.get('http://&lt;cloud server url>/analytics/face?'+ query)
            if resp.status_code != 201:
                # This means something went wrong.
                print("Unable to submit the data")
            else:
                print("Data Submitted for analysis")
 </code></pre></li>
                           </ol>
                  </div>
                    </div>
            <div ibox title="Here is the final solution">
              <div content-block name="opencv_motion-newfile" message="Here is the final solution">
                <h5>Here is the final code base including cloud integration</h5>
                  <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">import numpy as np
import cv2
import requests

cv2.namedWindow('frame')
cv2.namedWindow('dist')

# the classifier that will be used in the cascade
faceCascade = cv2.CascadeClassifier('haar_face.xml')

#capture video stream from camera source. 0 refers to first camera, 1 referes to 2nd and so on.
cap = cv2.VideoCapture(0)


triggered = False
sdThresh = 10
font = cv2.FONT_HERSHEY_SIMPLEX

def distMap(frame1, frame2):
    """outputs pythagorean distance between two frames"""
    frame1_32 = np.float32(frame1)
    frame2_32 = np.float32(frame2)
    diff32 = frame1_32 - frame2_32
    norm32 = np.sqrt(diff32[:,:,0]**2 + diff32[:,:,1]**2 + diff32[:,:,2]**2)/np.sqrt(255**2 + 255**2 + 255**2)
    dist = np.uint8(norm32*255)
    return dist

_, frame1 = cap.read()
_, frame2 = cap.read()
facecount = 0
while(True):
    _, frame3 = cap.read()
    rows, cols, _ = np.shape(frame3)
    cv2.imshow('dist', frame3)
    dist = distMap(frame1, frame3)

    frame1 = frame2
    frame2 = frame3

    # apply Gaussian smoothing
    mod = cv2.GaussianBlur(dist, (9,9), 0)

    # apply thresholding
    _, thresh = cv2.threshold(mod, 100, 255, 0)

    # calculate st dev test
    _, stDev = cv2.meanStdDev(mod)

    cv2.imshow('dist', mod)
    cv2.putText(frame2, "Standard Deviation - {}".format(round(stDev[0][0],0)), (70, 70), font, 1, (255, 0, 255), 1, cv2.LINE_AA)


    if stDev > sdThresh:
            # the cascade is implemented in grayscale mode
            gray = cv2.cvtColor(frame2, cv2.COLOR_BGR2GRAY)

            # begin face cascade
            faces = faceCascade.detectMultiScale(
                gray,
                scaleFactor=2,
                minSize=(20, 20)
            )
            facecount = 0
            # draw a rectangle over detected faces
            for (x, y, w, h) in faces:
                facecount = facecount + 1
                cv2.rectangle(frame2, (x, y), (x+w, y+h), (0, 255, 0), 1)
            cv2.putText(frame2, "No of faces {}".format(facecount), (50, 50), font, 1, (0, 0, 255), 1, cv2.LINE_AA)
    else:
            if facecount > 0:
                    query = 'id=1234' + '&value=' + str(facecount)
                    resp = requests.get('http://&lt;cloud server url>:9002/analytics/face?'+ query)
                    if resp.status_code != 201:
                        # This means something went wrong.
                        print("Unable to submit the data")
                    else:
                        print("Data Submitted for analysis")
                    facecount = 0
    cv2.imshow('frame', frame2)

    if cv2.waitKey(1) & 0xFF == 27:
        break

cap.release()
cv2.destroyAllWindows()

</pre></ui-codemirror>
              </div>
            </div>
            <div ibox title="Visualize Your data">
                <div content-block name="opencv_analyse-objectives" message="Visualize Your data" image-link="../views/labs/analytics-analyse/images/cloudmain.png">
                    <h2 class="labHidden"></h2>
                    <h5>Visualizing your data on the cloud</h5>
                    <ul>
                        <li>Go to http://&lt;cloud server url>:9002</li>
                        <li>Example: <a id="href1" target="_blank"></a><script>document.getElementById("href1").innerHTML = window.location.hostname + ":9002";document.getElementById("href1").href = "http://" + window.location.hostname + ":9002";</script></li>
                        <li>Enter your device ID</li>
                        <li>Click on plot</li>
                    </ul>
              </div>
            </div>
        <div ibox title="References">
          <ul>
              <li>
                  <p><a href="http://docs.opencv.org/3.0-beta/doc/py_tutorials/py_tutorials.html" target="_blank">OpenCV-Python Tutorials</a></p></li><li>
                  <p><a href="https://pythonprogramming.net/loading-images-python-opencv-tutorial/" target="_blank">Opencv with Python</a></p>
              </li>
          </ul>
        </div>


      </div>
  </div>

        </div>
    </div>
</div>
