<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Intel&reg; Mesh Commander</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Labs</a>
      </li>
      <li>
        <a>Remote Management</a>
      </li>
      <li class="active">
        <strong>Remote Configuration with Mesh Commander</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div ibox title="Overview">
    <div content-block name="step1" message="Read the Objectives">
      <labels laptop windows/>
      <h2 class="labHidden">Read the Overview</h2>
      <p>The Mesh Commander is an application that provides an interface for using Intel&reg; Active Management technology. Its project site states that its purpose is to make hardware configuration easy over Internet.</p>
      <p>MeshCommander is primarily used for 1:1 remote management of devices. Current supported features include:</p>
      <ul>
        <li>Hardware KVM viewer</li>
        <li>Serial over LAN terminal</li>
        <li>IDE-R support</li>
        <li>Power control</li>
        <li>Event viewer</li>
        <li>Audit log viewer</li>
        <li>Hardware asset</li>
        <li>Account management</li>
        <li>Network settings</li>
        <li>WIFI management</li>
        <li>User consent and control</li>
        <li>Certificate &amp; TLS management</li>
        <li>CIRA &amp; Environment Detection</li>
        <li>WSMAN browser</li>
      </ul>
    </div>

    <div content-block message="Launch the MeshCommander utility" image-link="../views/labs/remote-configintelmc/images/launch.png">
      <p>The MeshCommander utility is already installed on your Intel&reg IoT Gateway</p>
      <p>Go to the Windows launch bar icon in the lower left of your screen and type <b>Mesh Commander</b>.</p>

      <div class="alert alert-warning">
        <p>Be sure to right click on the MeshCommander application and select <b>Run as Administrator</b>.</p>
      </div>
    </div>

    <div content-block message="Add An Inte&reg AMT enabled Computer to MeshCommander" image-link="../views/labs/remote-configintelmc/images/001-Add-AMT-Computer.jpg">
      <p>The first step to add a system to the Intel AMT mission commander configuration utility is to click on a computer. </p>
      <p>After that you can specify a <b>friendly name</b> which is simply a string that allows you to easily identify the system.</p>
      <p>You can <b>tags</b> that allow you to put several systems together into recognizable categories.</p>
      <p>You'll need to enter either the <b>host name</b> or the <b>IP address</b> of the computer.</p>
      <p>The <b>authentication</b> should remain as digest or none.</p>
      <p>Lastly, the <b>username and password</b> are the same as username and password that you configured during the USB drive lab.</p>
    </div>

    <div content-block message="Connect to your Intel&reg IoT Gateway" image-link="../views/labs/remote-configintelmc/images/003-Click-Connect.jpg">
      <p>Next to each computer that has been added to the system there is a button labeled connect.</p>
      <pre><code>Click the Connect button to begin communicating with your gateway.</code></pre>
    </div>

    <div content-block message="Click Remote Desktop" image-link="../views/labs/remote-configintelmc/images/004-Click-Remote-Desktop.jpg">
      <p>After connecting to a system, you'll see the system information on the screen, such as the power state, the unique identifier and basic settings. Take a moment to browse around and see the different bits of information available to you.</p>
    </div>

    <div content-block message="Click Connect Remote Desktop" image-link="../views/labs/remote-configintelmc/images/005-Click-Connect-Remote-Desktop.jpg">
      <p>To view the screen of the remote computer system, do the following steps:</p>
      <ul>
        <li>Click on the <b>Remote Desktop</b> link in the left sidebar.</li>
        <li>Then click the <b>Connect</b> button as shown in the image</li>
      </ul>
    </div>

    <div content-block message="Out of band Remote Desktop" image-link="../views/labs/remote-configintelmc/images/006-Out-of-band-Remote-Desktop.jpg">
      <p>You will now see the screen of the remote system.</p>
      <div class="alert alert-info">
        <p>You will be able to see the screen of the remote system even if the remote computer is rebooting, in the BIOS or in a crashed state.</p>
      </div>
    </div>

    <div content-block message="Power Actions Reset To BIOS" image-link="../views/labs/remote-configintelmc/images/007-Power-Actions-Reset-To-BIOS.jpg">
      <p>Notice the button labelled <b>Power Actions</b>. This button will display a dialog box that allows you to change the state of the system's power. You can start, stop, reboot or choose from other supported power states.</p>
    </div>

    <div content-block message="BIOS Setup Page" image-link="../views/labs/remote-configintelmc/images/008-BIOS-Setup-Page.jpg">
      <p>Intel%reg; AMT works at at a firmware level, that is at a level lower than the operating system. So it is possible to remote view the display even if when viewing the BIOS.</p>
    </div>
  </div>

  <div ibox title="IDE-Redirection">
    <div content-block image-link="../views/labs/remote-configintelmc/images/009-IDE-Redirection.jpg">
      <p>IDE-R also the administrator to choose an alternative Operating System image and boot from it. Often times this will be a rescue or utilites disk.</p>
      <ul>
        <li>Navigate to Remote Desktop</li>
        <li>Click IDE-R, which opens up Storage Redirection</li>
        <li>Choose any .iso file and .img file</li>
        <li>"IDE-R Session, Connected, 0 in, 0 out" message will be displayed at top</li>
        <li>Click Power Actions and select "Reset to IDE-R CDROM"</li>
        <li>Now observe the top row showing variation in the message "IDE-R Session, Connected, 0 in, ###### out" showing number of packets going out</li>
      </ul>
    </div>

    <div content-block image-link="../views/labs/remote-configintelmc/images/IDER.png" message="IDE-R completed">
      <ul>
        <li>CDROM Image content will be displayed</li>
        <li>A samle DOS image is loaded here</li>
        <li>Click the Disconnect button inside the Remote Desktop</li>
        <li>Click Stop IDE-R Session</li>
        <li>Goto Power Actions &gt; Reset to complete the session</li>
      </ul>
    </div>
  </div>

  <div ibox title="Mesh Commander's System Defense panel">
    <div content-block image-link="../views/labs/remote-configintelmc/images/010-MeshCommanderMatchingRules.jpg">
      <p>Within Mesh Commander's System Defense panel, you can add to Intel AMT network filters and policies that can be used to match certain type of network traffic. You can use Intel AMT system defense to count, drop or rate limit network traffic that
        matches certain rules. In this page, we look at how to create advanced filters that use the "Matching Rules" box in the "Add System Defense Filter" dialog box.</p>
      <p>The "Matching Rules" field is a comma separated list of name and values. The names must have exact capitalization and no extra spaces must be added. </p>
      <p>The first matching rule is the <b>ProtocolID</b>, usually TCP (6) or UDP (17). For example, if you want to match on TCP traffic, you put "ProtocolID=6" in the matching rules. You must specify a protocol id of TCP or UDP before you can use any of
        the other filters below.</p>
      <p><b>DestAddress</b> and <b>DestMask</b> to filter the destination of the packet. Both of these must be used at the same time. For example, you can set the matching rules to "ProtocolID=6,DestAddress=192.168.1.0,DestMask=255.255.255.0". This will
        filter all packets that go to 192.168.1.*.</p>
      <div class="alert alert-warning">
        Don't do this as it will stop all communication between the MeshCommander and the remote system.
      </div>
      <p>In addition, you can filter based on source address with <b>SrcAddress</b> and <b>SrcMask</b>. Both must be used at the same time. For example, you can have "ProtocolID=6,SrcAddress=192.168.1.0,SrcMask=255.255.0.0" to match all packets with a source
        address of 192.168.*.</p>
    </div>
  </div>
</div>
