<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Additional Information</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Labs</a>
      </li>
      <li>
          Additional Information
      </li>
      <li class="active">
        <strong>MongoDB</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">

      <!-- Objective -->
      <div ibox title="Objective">

        <div content-block name="write-mongoosejs-models" message="Define the sensor schema in ./schema/sensor.js">
<h2 class="labHidden">Define the sensor schema in ./schema/sensor.js</h2>
          <h4>Write Mongoose JS Models to Access MongoDB</h4>

          <p>MongooseJS is an schema-based solution to model MongoDB database objects.  It allows you to easily create, validate, save, update and remove items from your MongoDB.  Everything in MongooseJS starts with a schema.  After a schema is defined it can be used to create a Model, which is the object you will use in your program to access the database.</p>

          <p>If you have any questions be sure you consult the <a href="http://mongoosejs.com/docs/guide.html">The MongooseJS User Guide</a>.</p>

          <p>Let's build a schema for a sensor with the following data types:</p>

          <ul>
            <li>id : String</li>
            <li>name : String</li>
            <li>description : String</li>
            <li>maxfrequency : Number</li>
            <li>active : Boolean</li>
            <li>ioType String.</li>
          </ul>

          <div>
            <p class="label">schema/sensorSchema.js</p>
            <ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mongoose = require('mongoose');
var sensorSchema = new mongoose.Schema({
  id: {
    type: String,
    required: true
  },
  name: {
    type: String,
    required: true
  },
  description: {
    type: String,
    required: true
  },
  maxfrequency: {
    type: Number,
    required: true
  },
  frequency: {
    type: Number,
    required: true
  },
  active: {
    type: Boolean,
    required: true
  },
  ioType: {
    type: String,
    required: true
  }
});

module.exports = sensorSchema;</pre></ui-codemirror>
            </div>

              <p>Save this code in the file <code>sensorSchema.js</code> in the <code>schema</code> directory.</p>
            </div>

            <div content-block name="schema-actuator" message="Define the actuator schema in ./schema/actuator.js">
<h2 class="labHidden">Define the actuator schema in ./schema/actuator.js</h2>
              <p>Here are the rest of the fields for the other types. Please, define them in a similar manner to the <code>sensorSchema</code>.</p>
              <li>
                <p>Define an actuator schema in <code>schema/actuatorSchema.js</code></p>
                <ul>
                  <li>id : String</li>
                  <li>name : String</li>
                  <li>description : String</li>
                  <li>maxfrequency : Number</li>
                  <li>active : Boolean</li>
                  <li>ioType : String</li>
                </ul>
              </li>
            </div>

            <div content-block name="schema-data" message="Define the Data schema in ./schema/data.js ">
<h2 class="labHidden">Define the Data schema in ./schema/data.js </h2>
              <li>
                <p>Define sensor data schema in <code>schema/dataSchema.js</code></p>
                <ul>
                  <li>sensor_id: String</li>
                  <li>value: Number</li>
                  <li>timestamp: Date</li>
                </ul>
              </li>
            </div>

            <div content-block name="schema-trigger" message="Define the Trigger schema in ./schema/trigger.js ">
<h2 class="labHidden">Define the Trigger schema in ./schema/trigger.js </h2>
              <li>
                <p>Define a Trigger schema in <code>schema/triggerSchema.js</code></p>
                <ul>
                  <li>id: String. Holds a unique value for the iot network event</li>
                  <li>name: String. A name for the iot network event</li>
                  <li>sensor_id: String. A reference to the sensor that will trigger this event</li>
                  <li>actuator_id: String. A reference to the actuator that will be activated</li>
                  <li>condition: String. A JavaScript function that returns true or false</li>
                  <li>triggerFunc: String. A JavaScript function that is executed when the condition is true.</li>
                  <li>active: Boolean. If true this Iot Network Event can be triggered, otherwise it is inactive</li>
                </ul>
              </li>
            </div>

            <div content-block name="schema-error" message="Define the Error schema in ./schema/error.js ">
<h2 class="labHidden">Define the Error schema in ./schema/error.js </h2>
              <li>
                <p>Define a schema for error in <code>schema/errorSchema.js</code></p>
                <ul>
                  <li>type: String</li>
                  <li>message: String</li>
                  <li>timestamp: Date</li>
                </ul>
              </li>
            </div>

            <div content-block name="create-schema-interface-file" message="Create a Module Interface for the Edge Network Objects">
<h2 class="labHidden">Create a Module Interface for the Edge Network Objects</h2>
              <h4>Create a Module Interface for the Edge Network Objects</h4>
              <p>In this section there are two goals.  First, we need to package these schemas into a JavaScript module that can be exported and used by other JavaScript Projects. Second, each schema object needs to be coverted into a Model object that can be used to access the database.</p>

              <p>Write this code to <code>/index.js</code> at the root level of this project.</p>
              <p class="label">./index.js</p>
              <div><ui-codemirror ui-codemirror-opts="editorOptions"><pre class="brush:jscript;">var mongoose = require('mongoose');
var SensorSchema = require('./schema/sensorSchema.js');
var ActuatorSchema = require('./schema/actuatorSchema.js');
var TriggerSchema = require('./schema/triggerSchema.js');
var DataSchema = require('./schema/dataSchema.js');
var ErrorSchema = require('./schema/errorSchema.js');

module.exports = {
  SensorModel: mongoose.model('SensorModel', SensorSchema),
  ActuatorModel: mongoose.model('ActuatorModel', ActuatorSchema),
  DataModel: mongoose.model('DataModel', DataSchema),
  TriggerModel: mongoose.model('TriggerModel', TriggerSchema),
  ErrorModel: mongoose.model('ErrorModel', ErrorSchema)
};</pre></ui-codemirror>
              </div>
            </div>

        <!--
                    <div content-block name="restart-computer" message="Restart Your Development Computer" image-link="./views/labs/intro/images/reset.png">
                <h2 class="labHidden">Restart Your Development Computer</h2>
                <img class="labHidden" src="./views/labs/intro/images/reset.png"></img>
                      <p>To ensure driver installation changes take effect, </b>reboot your Windows computer</b> at this point.</p>
                      <p>Based on your version of Windows, select the option to fully shut down and restart your computer.</p>
                    </div>
        -->

                    <div content-block name="open-device-manager" message="Open Your Device Manager">
                <h2 class="labHidden">Open Your Device Manager</h2>
                  <h4>Starting Serial Communication on Intel Edison</h4>
                      <div class="row">
                        <div class="col-sm-6">
                          <p>Windows 7 and below:</p>
                          <ol>
                            <li>Open Start menu.</li>
                            <li>Type “device manager” in the search field.</li>
                            <li>Select "Device Manager" under "Control Panel"</li>
                          </ol>
                          <img src="./views/labs/intro/images/win7-device-manager.png"></img>
                        </div>
                        <div class="col-sm-6">
                          <p>Windows 8 and Windows 10</p>
                          <ol>
                            <li>Go into Windows Desktop mode.</li>
                            <li>Right-click on the Start menu button.</li>
                            <li>Select "Device Manager".</li>
                          </ol>
                          <img src="./views/labs/intro/images/win8-device-manager.png"></img>
                        </div>
                      </div>
                    </div>

                    <div content-block name="confirm-composite-and-virtual-drivers" message="Confirm Intel Edison USB Composite Device and Intel Edison Virtual Com Port.">
                <h2 class="labHidden">Confirm Intel Edison USB Composite Device and Intel Edison Virtual Com Port.</h2>

                      <p>In Device Manager, locate and toggle open <b>Ports (COM & LPT)</b>.</p>
                      <img style="max-width: 400px" src="./views/labs/intro/images/comport.png"></img>
                      <div class="alert alert-info">
                        <p>The Intel&reg; Edison drivers for Windows include several USB drivers in one installer package. These drivers enable important features, such as: </p>
                        <ul>
                          <li>Composite Device Class (CDC) for programming the board via the Arduino IDE,</li>
                          <li>Remote Network Driver Interface Spec (RNDIS) for Ethernet over USB, and</li>
                          <li>Device Firmware Upgrade (DFU) for updating firmware on devices.</li>
                        </ul>
                      </div>
                      <p>Connect a micro-USB cable to the device mode micro-USB port of the Intel&reg; Edison expansion board, and the other end to your computer.</p>
                      <img src="./views/labs/intro/images/plug-it-in.png"></img>
                      <div class="alert alert-success">
                        <p>If you see both "Intel Edison USB Composite Device" and "Intel Edison Virtual Com Port" items show up in Device Manager under “Ports (COM & LPT)”, the drivers have been successfully installed.</p>
                        <img style="max-width:50%" src="./views/labs/intro/images/coms.png"></img>
                      </div>
                    </div>

                    <div content-block name="confirm-ftdi-drivers" message="Confirm installation of FTDI serial drivers">
                <h2 class="labHidden">Confirm installation of FTDI serial drivers</h2>

                      <p>
                        FTDI CDM drivers allow your computer to communicate with USB serial devices, including the Intel&reg; Edison.
                      </p>
                      <img src="./views/labs/intro/images/power.png" />
                      <p>
                        Power the Intel&reg; Edison via the device mode micro-USB port and/or via the power barrel connector.
                      </p>
                      <img src="./views/labs/intro/images/plug-it-in2.png" />
                      <p>
                        Connect a micro-USB cable to the serial micro-USB port of the Intel&reg; Edison and the other end to your computer.
                      </p>
                      <div class="alert alert-success">
                        <p>If you see "USB Serial Port" show up in Device Manager under “Ports (COM & LPT)”, the drivers have been successfully installed.</p>
                        <img src="./views/labs/intro/images/coms2.png" style="max-width: 50%" />
                      </div>
                    </div>



          </div>


        </div>
      </div>
    </div>
