<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>MeshCentral</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                <a>Remote Management</a>
            </li>
            <li class="active">
                <strong>Remote System Management with MeshCentral</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">
          <div ibox title="Objective">
                <div content-block image-link="../views/labs/remote-configamt/images/mesh0.png" message="Objective">
  <p>
  Meshcentral is open source and peer-to-peer technology with a wide range of use cases, including web services that enable remote monitoring and management of computers and devices. Users can manage all their devices from a single web site, no matter the location of the computers or if they are behind routers or proxies.</p>
<p>In this module we will explore following
  <ul><li>
  How to create device mesh?</li>
  <li>
  How to remotely share desktop of the remote machine?</li>
  <li>How to explore file system on the remote machine?</li>
  <li>How to login to command line?</li>
</ul>
                </div>
          </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
              <div ibox title="Step1: Login to mesh central server">
                    <div content-block image-link="../views/labs/remote-configamt/images/mesh0.png" message="Login successful">
                        <p>Go to <a href="http://www.meshcentral.com/" target="_new">http://www.meshcentral.com</a></p>
Username: workshop <br />
Password: intel@123
                        <p>Login to meshcentral using above credentials</p>
                    </div>
              </div>
          </div>
        </div>

        <div class="row">
                <div class="col-lg-12">
                    <div ibox title="Step 2: Create Mesh Agent">
                        <div content-block image-link="../views/labs/remote-configamt/images/mesh1.png" message="Mesh Agent Created">
                              <p>Goto MyAccount tab > Administrative Meshes > New</p>
                              <p>In the Create new mesh popup, provide mesh name and password</p>
                              <p>Check mark all the options and click create mesh</p>
                        </div>
                    </div>
              </div>
          </div>

            <div class="row">
                    <div class="col-lg-12">
                        <div ibox title="Step 3: Test & install the created Mesh">
                            <div content-block image-link="../views/labs/remote-configamt/images/mesh2.png" message="Mesh Tested & installed">
                                  <p>Goto MyAccount tab and click the newly created mesh.</p>
                                  <p>Have a look on Web Authorizations.</p>
                                  <p>Click on Install</p>
                                  <p>Select <b>Linux/x86-64 (Ubuntu)</b></p>
                                  <div class="alert alert-warning">Run the commands given there in a linux terminal to install the Mesh Agent.<strong>Make sure to run the commands under "su"</strong></div>
                            </div>
                        </div>
                  </div>
              </div>

              <div class="row">
                      <div class="col-lg-12">
                          <div ibox title="Step 4: Web device refresh">
                              <div content-block image-link="../views/labs/remote-configamt/images/018-web-device-refresh.jpg" message="Web device refreshed">
                                <p>Goto My Devices tab and click the newly created device(look for your device id)</p>
                                <p>This is the interface to see the all the connected devices through meshcentral. Click on your device to before going to next step</p>
                              </div>
                          </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-lg-12">
                            <div ibox title="Step 5: Explore file system">
                                <div content-block image-link="../views/labs/remote-configamt/images/mesh3.png" message="File system Explored">
                                  <p>This method gives access to the client file system.</p>
                                  <p>File operations can be performed to check the level of control</p>
                                </div>
                            </div>
                      </div>
                  </div>

                  <div class="row">
                          <div class="col-lg-12">
                              <div ibox title="Step 6: Explore Terminal">
                                  <div content-block image-link="../views/labs/remote-configamt/images/mesh4.png" message="Terminal explored">
                                    <p>This method gives access to terminal through which system supported commands can be run.</p>
                                  </div>
                              </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-lg-12">
                                <div ibox title="Step 7: Web Socket Desktop Loop">
                                    <div content-block image-link="../views/labs/remote-configamt/images/020-websocket-desktop-loop.jpg" message="Desktop looping successful">
                                      <p>This method accessess the client desktop by web sockets.</p>
                                      <p>It opens another web instance from desktop. This is repeated infinitely</p>.
                                    </div>
                                </div>
                          </div>
                      </div>
</div>
