<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intel&reg; Media SDK Samples</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                video performance
            </li>
            <li class="active">
                <strong>Explore Intel&reg; Media SDK Samples</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
          <div ibox title="Objectives">
              <div content-block name="xdk-issues" message="Check after completion of Objectives">
              <b>Introduction</b>
              <p>Intel&reg; Media SDK is a set of libraries, tools, header and sample code files that define cross-platform API for developing consumer
                 and professional grade media applications on Intel platforms. Providing an access to Intel&reg; Quick Sync Video, hardware accelerated codecs
                 in Intel Graphics Processor, Media SDK allows application developer to speed up video playback, encoding, processing and media conversion.
                 Media SDK for Windows helps to deliver desktop applications, such as video players, editors and video conferencing clients,
                 while Media SDK for Embedded Linux enables digital security and surveillance and connected car manufacturers to deliver smart cameras
                 and infotainment or cluster display solutions.</p>
              <b>Exploration</b>
              <p>This lab starts with exploring and understanding the media sdk related packages installed in your Intel&reg; NUC.
                 Then understand the customized applications such as sample decoder and video wall bundled with installation. </p>
              <b>Observation</b>
                <p>Performance monitoring using system performance monitoring tool; before and after hardware acceleration.</p>
              <b>Learning Outcome</b>
              <p>By the end of this module, the participant is expected to understand the Intel&reg; Media SDK, installation structure,
                 hardware acceleration and performance enhancement of selected applications.</p>
              </div>
            </div>

          <div ibox title="View the packages installed on your NUC">
            <div content-block name="xdk-issues" message="Check after viewing the packages installed on your NUC">
                    <ul>
                        <li><b>Media SDK installer</b>
                            <p>Intel_Media_SDK_2016_R2.msi by default installs at
                              <span style="color:#A52A2A"> C:\Program Files (x86)\IntelSWTools\Intel(R)_Media_SDK_2016.0.2</span></p>
                        </li>
                        <li><b>Media Sample applications</b>
                            <p>Media SDK samples is made available in
                              <span style="color:#2554C7">C:\Users\&lt;user name&gt;\Documents\Samples-master.zip</span>
                        </li>
                        <li><b>Media SDK Documentation directory </b>
                            <p><span style="color:#A52A2A">C:\Program Files (x86)\IntelSWTools\Intel(R)_Media_SDK_2016.0.2\doc</span></p>
                        </li>
                    </ul>
            </div>
          </div>

            <div ibox title="Understand the packages">
                <div class="alert alert-warning">Go to <span style="color:#A52A2A">C:\Program Files (x86)\IntelSWTools\Intel(R)_Media_SDK_2016.0.2</span>
                    <span>and understand the Package Contents</span>
                </div>
                  <div content-block name="xdk-issues" message="Check after opening the packages" image-link="../views/labs/videoperformance-mediasdk/images/img001.JPG"></div>
                  <ul>
                              <li>
                                <p><b>bin</b> folder has 32-bit and 64-bit runtime libraries for audio and media function encode-decode software capabilities.</p>
                                <p>E.g., <i>libmfxsw32.dll</i> is the software library for IA-32 architecture</p>
                                <p>  <i>libmfxsw64.dll</i> is the software library for Intel&reg; 64 architecture</p>
                              </li>
                              <li>
                                <p><b>doc</b> folder has documentation for raw, audio, image, video, etc., media types. It also provide media sdk user manual and developer reference manuals</p>
                              </li>
                              <li>
                                <p><b>include</b> folder has several header files supporting Intel&reg; media sdk program development</p>
                              </li>
                              <li>
                                <p><b>lib</b> folder has 32-bit and 64-bit static library <i>libmfx.lib</i> for media function encoding and decoding</p>
                                <p>It also may have <i>libmfx_vs2015.lib</i> to link Intel&reg; Media SDK with MS&reg; Visual Studio 2015</p>
                              </li>
                              <li>
                                <p><b>open source</b> folder has SDK dispatcher.
                                  The dispatcher is a layer that lies between applications and SDK implementations.
                                  Upon initialization, the dispatcher locates the appropriate platform-specific SDK implementation.
                                  If there is none, it will select the software SDK implementation.
                                  The dispatcher will redirect subsequent function calls to the same functions in the selected SDK implementation.
                                </p>
                              </li>
                              <li>
                                  <p><b>tools</b>  folder has MediaSDK Tracer and Mediasdk System Analyzer - 64-bit and 32-bit supported.
                                  <p><b><u>1. MediaSDK Tracer:</u></b></p>
                                  <p>This tool will capture the basic call information from Media SDK API functions.
                                    It will generate a full log of interaction between the application and the SDK library including per-frame processing.</p>
                                  <!--<p>Usage:</p>
                                  <img src="../views/labs/videoperformance-mediasdk/images/Tracer.JPG"/>
                                </br>
                              </br>
                                  <p>Press Start at any time to start logging and press Stop to stop logging.
                                    After logging is stopped, results are appended to the specified file.
                                    Press Open to view the output log file. Use Delete to delete previous log information prior to capturing new data,
                                    as to avoid appending the new data to the existing output file.</p> !-->
                                  <div class="alert alert-info">We are not running this tool in the workshop. For more infromation please refer to the document (readme-mediasdk-tracer.rtf) to know the system requirements and limitations of the tool.</div>
                                  <p><b><u>2. MediaSDK System Analyzer:</u></b></p>
                                  <p>This tool utility analyzes the system and reports all Media SDK related capabilities, driver and components status.
                                    This tool can also be used to determine setup environment issues.
                                    This tool reports back installed graphics adapter, basic system information, installed Media SDK versions,
                                    installed DirectShow filters, Media foundation Transforms (MFT) and also tips for solutions in case either
                                    software or hardware implementations did not work.</p>
                                    <p>Please run this tool.</p>
                                    <p>Usage:</p>
                                    <p>This tool starts reporting system status immediately, when complete user can exit the tool by pressing any key.</p>
                                    <div class="alert alert-info">For more information please refer to the document (readme-mediasdk-system-analyzer.rtf) to know the system requirements and limitations of the system analyzer.</div>
                                    <p>Example Output:</p>
                                    <div content-block message="Check after opening the packages" image-link="../views/labs/videoperformance-mediasdk/images/SystemAnalyzer.JPG">

                                    </div>
                                    <!--<p>This tool also has few command line options available:</p>
                                    <p>-skipPackage : Skip query for installed Media SDK packages.</p>
                                    <p>-skipDShow   : Skip query for installed DirectShow filters.</p>
                                    <p>-skipMFT     : Skip query for installed MFTs.</p>
                                    <p>-skipWait    : Do not wait for user key press on analysis completion.</p> !-->
                              </li>
                            </ul>
            </div>

            <div ibox title="1. Sample Decoder">
                <div content-block name="xdk-issues" message="Check after completion of Sample Decoder">
                    <ul>
                        <li>Go to <b>Desktop &gt; Retail &gt; 03-MediaSDK &gt;</b> folder</li>
                        <li>Open the task manager to compare the CPU performance of the below two cases.
                          <div class="alert alert-info">Note: If you are running any other programs, their process will be added to the CPU & memory utilization.
                              So try closing all other programs. Then observe the Sample_decode.exe process performance from task manager.</div>
                        </li>
                        <li>Case 1: Execute the below command for software implementation:
                        </br>
                                </br>
                                    <div class="alert alert-warning"><span style="color:#A52A2A">sample_decode.exe h264 -i C:\input.h264 -sw</span></div>
                                    <p>Output & Performance:</p>
                                    <img src="../views/labs/videoperformance-mediasdk/images/MSDK_SW.jpg" />
                                  </br>
                                </br>
                        </li>
                        <li>Case 2: Execute the below command for hardware acceleration:
                        </br>
                                </br>
                                    <div class="alert alert-warning"><span style="color:#A52A2A">sample_decode.exe h264 -i C:\input.h264 -hw</span></div>
                                    <p>Output & Performance:</p>
                                    <img src="../views/labs/videoperformance-mediasdk/images/MSDK_HW.jpg" />
                                  </br>
                                </br>
                        </li>
                        <li>Just type sample_decode.exe and explore other command line switches:
                            </br>-o : output to file in RAW formats
                            </br>-r: Present
                            </br>-f : change rendering frame rate
                            </br>-w and –h : changing the resolution
                        </li>
                    </ul>
                </div>
            </div>

            <div ibox title="2. Video Wall">
                <div content-block name="xdk-issues" message="Check after completion of Video Wall">
                    <ul>
                      <li>Go to <b>Desktop &gt; Retail &gt; 03-MediaSDK &gt;</b> folder</li>
                        </br>
                        <li>Open the command prompt and provide the below command-
                        </br></br>
                        <div class="alert alert-warning"><span style="color:#A52A2A">sample_video_wall.bat C:\input.h264</span></div>
                        </li>
                      <li>Observe the video projected on the wall divided into channels as specified in the batch file</li>
                  </ul>
                        <div class="alert alert-info">Note: Open the batch file from the Wordpad and observe the effect of changing the following parameters:</div>
                        <p>- No. of channels (i.e VerticalCells and HorizontalCells) can be edited in sample_video_wall.bat file.</p>
                        <p>- Change MediaSDKImplementation to sw and hw.</p>
                </div>
            </div>

            <div ibox title="Lessons learnt">
                <div content-block name="xdk-issues" message="Check after completion of lesson">
                <ul>
                <li>Intel&reg; Media SDK's libraries, tools, header and sample code files.</li>
                <li>speed up in video playback, encoding, processing and media conversion.</li>
                <li>Performance monitoring</li>
              </div>
            </div>
</div>
