<div class="landing-page">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        {{main.helloText}}
                    </h1>
                    <small>
                        {{main.descriptionText}}
                    </small>
                </div>

                <div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
                    <ol class="carousel-indicators">
                        <li data-target="inSlider" data-slide-to="0" class="active"></li>
                        <li data-target="inSlider" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Developing Visual Retail Solutions <br />using <br/>Intel Hardware and Software<br/>
                                  <!--  <p>Transform Business with Intelligent Gateway Solutions</p>

                                    <p>
                                        <a class="btn btn-lg btn-primary" href="https://software.intel.com/en-us/retail/displays" role="button">READ MORE</a>
                                    </p>
                                  -->
                                </div>
                                <!-- <div class="carousel-image wow zoomIn"> -->
                                <!--     <img src="img/landing/lapto" alt="laptop"/> -->
                                <!-- </div> -->
                            </div>
                            <!-- Set background for slide in css -->
                            <div class="header-back one"></div>

                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption blank">
                                    <h1>We create meaningful <br/> interfaces that inspire.</h1>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                                </div>
                            </div>
                            <!-- Set background for slide in css -->
                            <div class="header-back two"></div>
                        </div>
                    </div>
                    <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <section  class="container features">
                    <div class="row">
                        <div class="col-lg-10 text-center">
                            <div class="navy-line"></div>
                            <h1>The Intel Retail Workshop<br/> <span class="navy"> hands on learn about the Intel Retail Solutions</span> </h1>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center wow fadeInLeft">
                            <div>
                                <i class="fa fa-flask features-icon"></i>
                                <h2>Hands on Labs</h2>
                                <p>Learn about the Intel's Software and hardware tools/SDK to build advanced high performing video playback, advanced remote management and video analytics</p>
                            </div>
                            <div class="m-t-lg">
                                <i class="fa fa-slideshare features-icon"></i>
                                <h2>Slide Decks</h2>
                                <p>View the slides from the presentations at the workshop which teach about the products from Intel for Visual Retail vertical</p>
                            </div>
                        </div>
                        <div class="col-md-2 text-center wow zoomIn">
                            <img src="img/landing/perspective.png" alt="dashboard" class="img-responsive">
                        </div>
                        <div class="col-md-4 text-center wow fadeInRight">
                            <div>
                                <i class="fa fa-desktop features-icon"></i>
                                <h2>Video Presentations</h2>
                                <p>Watch video explainations of how Intel is changing industries with the Retail industry</p>
                            </div>
                            <div>
                                <i class="fa fa-desktop features-icon"></i>
                                <h2>Reachout</h2>
                                <p>Reachout to our experts on your business case studies, discuss and share</p>
                            </div><!--
                            <div class="m-t-lg">
                                <i class="fa fa-github features-icon"></i>
                                <h2>Solutions</h2>
                                <p>Build your own IoT Deployment architecture and find the solutions to the labs</p>
                            </div>-->
                        </div>
                    </div>
                </section>


                <section id="team" class="gray-section team">
                    <div class="container">
                        <div class="row m-b-lg">
                            <div class="col-lg-10 text-center">
                                <div class="navy-line"></div>
                                <h1>Our Team</h1>
                                <p>The Intel IoT Community Evanglism</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3  wow fadeInLeft">
                                <div class="team-member">
                                    <img src="img/landing/aaron.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Aaron</span> Tersteeg</h4>
                                    <p>Team Manager, Oregon USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/landing/vaghesh.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Vaghesh</span> Patel</h4>
                                    <p>Intel IoT Evangelist, Oregon USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                            <div class="col-sm-3 wow fadeInRight">
                                <div class="team-member">
                                    <img src="img/landing/grace.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Grace</span> Metri</h4>
                                    <p>Intel IoT Evangelist, Oregon USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 wow fadeInLeft">
                                <div class="team-member">
                                    <img src="img/landing/martin.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Martin</span> Kronberg</h4>
                                    <p>Intel IoT Evangelist, Oregon USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/landing/stewart.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Stewart</span> Christie</h4>
                                    <p>Intel IoT Evangelist, Arizona USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                            <div class="col-sm-3 wow fadeInRight">
                                <div class="team-member">
                                    <img src="img/landing/daniel.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Daniel</span> Holmlund</h4>
                                    <p>Intel IoT Evangelist, Oregon USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 wow fadeInLeft">
                                <div class="team-member">
                                    <img src="img/landing/raghavendra.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Raghavendra</span> Ural</h4>
                                    <p>Intel IoT Evangelist, Bangalore, India <img src="/img/flags/16/India.png"></p>

                                </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="team-member">
                                  <img src="img/landing/priyanka.png" class="img-responsive img-circle" alt="">
                                  <h4><span class="navy">Priyanka</span> Bagade</h4>
                                  <p>Intel IoT Evangelist, Oregon USA <img src="/img/flags/16/United-States.png"></p>
                              </div>
                            </div>
                            <div class="col-sm-3 wow fadeInRight">
                                <div class="team-member">
                                    <img src="img/landing/leo.png" class="img-responsive img-circle" alt="">
                                    <h4><span class="navy">Leo</span> Carrera</h4>
                                    <p>Intel IoT Evangelist, Oregon USA <img src="/img/flags/16/United-States.png"></p>

                                </div>
                            </div>
                        </div>

                        <div class="row m-b-lg">
                            <div class="col-sm-3 wow fadeInRight">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-10 text-center m-t-lg m-b-lg">
                                <p>Working with communities and businesses to teach Intel technology.</p>
                            </div>
                        </div>
                    </div>
                </section>



            </div>
        </div>
    </div>
</div>
