<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Schedule</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li class="active">
            <strong>Schedule</strong>
         </li>
      </ol>
   </div>
   <div class="col-lg-2">
   </div>
</div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
         <div class="ibox-title">
            <h5>Intel Visual Retail Workshop</h5>
            <div ibox-tools></div>
         </div>
         <div class="ibox-content labs-timeline">
           <div class="timeline-item">
                <div class="row">
                   <div class="col-xs-3 date">
                      <i class="fa fa-sign-in"></i>
                      8:30 am
                      <br/>
                   </div>
                   <div class="col-xs-7 content no-top-border">
                      <p class="m-b-xs"><strong>Doors open for Registration</strong></p>
                      <p>Register and the front desk and then come on in</p>
                   </div>
                </div>
             </div>
             <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-comments"></i>
                     9:00 am
                     <br/>
                  </div>
                  <div class="col-xs-7 content no-top-border">
                     <p class="m-b-xs"><strong>Keynote</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-comments"></i>
                     9:15 am
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Talk:Intel&reg; Retail Overview</strong></p>
                     <p>An overview Intel's offering in Retail space</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-comments"></i>
                     9:45 am
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Talk:Video performance enhancement using Intel's Hardware and Software</strong></p>
                     <p>Get an overview of Intel's various hardware and software features that help enhance
                       the video playback. You will also learn about Intel&reg; MediaSDK and a reference player for digital signages.</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-coffee"></i>
                     10:15 am
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>BREAK</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     10:30 am
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Hands-on: Explore Intel &reg; Media SDK Samples</strong></p>
                     <p>You will understand various ready made samples build using Intel &reg; Media SDK</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     11:00 am
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Hands-on: Build Video decode app using Intel &reg; Media SDK Samples</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     11:45 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Hands-on: Understand Intel&reg; Media Accelerator Reference Software</strong></p>
                     <p>We will understand various features of Intel&reg; Media Accelerator Reference Software</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     12:30 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Talk: Remote system management solutions from Intel</strong></p>
                     <p>We will explore Intel® vPro Technology, Intel® Active Management Technology and meshcommander solutions in this talk</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-cutlery"></i>
                     1:00 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>LUNCH</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     1:45 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                    <p class="m-b-xs"><strong>Hands-on: Configuring Intel® Active Management Technology</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-comments"></i>
                     2:15 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                    <p class="m-b-xs"><strong>Hands-on: Managing Remote Systems</strong></p>
                    <p>Learn how to use meshcommander and meshcentral to control remote systems.</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-coffee"></i>
                     3:30 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>BREAK</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     3:45 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                    <p class="m-b-xs"><strong>Talk: Video analytics solutions for Retail vertical</strong></p>
                    <p>We will explore what industry is using for video analytics in Retail vertical</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     4:00 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                    <p class="m-b-xs"><strong>Hands-on: motion detection using python and OpenCV</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     4:30 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Hands-on: Face detection using python and OpenCV</strong></p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-code"></i>
                     5:00 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Hands-on: Analyse face data on cloud</strong></p>
                     <p>Send face data to cloud for anlytics</p>
                  </div>
               </div>
            </div>
            <div class="timeline-item">
               <div class="row">
                  <div class="col-xs-3 date">
                     <i class="fa fa-graduation-cap"></i>
                     5:30 pm
                     <br/>
                  </div>
                  <div class="col-xs-7 content">
                     <p class="m-b-xs"><strong>Q&amp;A and Wrap-up</strong></p>
                  </div>
               </div>
            </div>
