<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Intel Commercial IoT Workshop Labs Solutions</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <a>Lab Solutions</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">

      <div ibox title="Solutions to the Lab Exercises">
        <ol>
          <li>
            <p>Building Edge Sensors and Actuators</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-sensors-and-actuators.git</code></pre>
          </li>
          <li>
            <p>Application Protocols: MQTT and HTTP</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-protocols-temperature-over-mqtt.git</code></pre>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-protocols-http-lcd.git</code></pre>
          </li>
          <li>
            <p>Networking Protocols: WIFI, Bluetooth*, Zigbee*</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-bluetooth.git</code></pre>
          </li>
          <li>
            <p>Databases at the Edge</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-monitor-daemon.git</code></pre>
          </li>
          <li>
            <p>Custom Administrative Interfaces</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-admin-interface.git</code></pre>
          </li>
          <li>
            <p>Automation on the Edge Network</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-automation.git</code></pre>
          </li>
          <li>
            <p>Data Analytics in the Cloud</p>
            <pre><code>git clone https://github.com/SSG-DRD-IOT/lab-solution-cloud-analytics.git</code></pre>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
