<!--<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-10">
      <h2>Intel Commercial IoT Workshop Videos</h2>
      <ol class="breadcrumb">
         <li><a href="index.html">Home</a></li>
         <li class="active"><a>Videos</a></li>
      </ol>
   </div>
</div>
-->
<div class="wrapper wrapper-content animated fadeIn">
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Intel IoT -- What Does The Internet of Things Mean?</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/Q3ur8wzzhBU" frameborder="0" allowfullscreen></iframe>
               <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/K74FAUcsjP0" frameborder="0" allowfullscreen></iframe> -->
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Intel&reg; Gateway Solutions for IoT | Intel</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/5Q9elxfYSqE" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- <div class="ibox-footer"> -->
            <!--     <span class="pull-right"> -->
            <!--         The righ side of the footer -->
            <!--     </span> -->
            <!--     This is simple footer example -->
            <!-- </div> -->
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>What is the Internet of Things?</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/eKgjD4NxcBo?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo  " frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Intel&reg; IoT Developer Kit for Rapid Prototyping</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/_YP9s3CcbIM" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Sensors in the World of IoT</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/MyWCvNBLy9c?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Communications in IoT</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/TitvQPLWiik?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>I Have a Working Prototype, Now What?</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/2BikpRp7DIY?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Operating System Customization and Deployment</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/WHUrJy397UA?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Device Management for IoT Production</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/MmJa1bnlsCs?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Security for IoT Production</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/jZCeyLQ7jdU?list=PLg-UKERBljNyTaCW1v18Pf-MGCY9griFo" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Transform Manufacturing with the Internet of Things | Intel</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/5OQQZ9eWF-4" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Smart City IoT Living with Living Labs | Intel</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/kzszdqZFTMY" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>An Introduction to the Intel&reg; IoT Developer Kit</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/3a9mSZ0sUxg" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="ibox">
            <div class="ibox-title">
               <h5>Stephen Hawking and the Intel Connected Wheelchair Project</h5>
               <div ibox-tools></div>
            </div>
            <div class="ibox-content">
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/kZ1LO_O6r4k?list=PLMNf0uzWVIzkOEiKL6Rz1v3Is6nb1saWp" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
</div>
