<div class="labels pull-right">
    <span ng-show="gateway" class="label label-primary">Gateway</span>
    <span ng-show="arduino" class="label label-success">Arduino* 101</span>
    <span ng-show="xdk" class="label label-warning">Intel&reg; XDK</span>
    <span ng-show="nodered" class="label label-danger">Node-Red</span>
    <span ng-show="windows" class="fa fa-windows"></span>
    <span ng-show="laptop" class="label label-warning">Laptop</span>
        <span ng-show="nuc" class="label label-success">Intel &reg; NUC</span>
    <span ng-show="apple" class="fa fa-apple"></span>
    <span ng-show="linux" class="fa fa-linux"></span>
</div>
