<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Additional Information</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Labs</a>
            </li>
            <li>
                Additional Information
            </li>
            <li class="active">
                <strong>HDC</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CodeEditorCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div ibox title="Steps to Install HDC">
        <p>1. Insert the USB drive to your NUC and copy the top level folder "hdc_2.2_conf_files" to /root folder and go to that folder</p>
        <pre><code>cd /root&#13;&#10;cp -r /media/sda1/HDC/hdc_2.2_conf_files /root&#13;&#10;cd /root/hdc_2.2_conf_files</code></pre>
        <p>2. Run the shell script</p>
        <pre><code>./hdc_2.2.0_install.sh</code></pre>
        <p>3. Wait for the script to complete, at the end it will reboot the gateway. This step will take upto 5 minutes.</p>
        <div content-block name="" message="Install HDC">
          <h2 class="labHidden">Read the Objectives</h2>
          <labels gateway window apple linux/>
        </div>
      </div>
